
{% extends 'blog/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static 'css/form.css' %}" rel="stylesheet" />
    <link href="{% static 'css/editArticle.css' %}" rel="stylesheet" />
{% endblock %}

{% block content%}
    <br>
    <br>
    <div class="row">
        <div class=" col-lg-10 center-block border rounded-10">


            {% if errors %}
                {% for error in errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
            {% endif %}

            {% if message %}
                <h2>{{ message }}</h2>
            {% endif %}

            <form class='form' action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <h2>{{ title }}</h2>
                <hr>

            {{ form.as_p }}


                <button type="submit" class="btn btn-primary" > {{ button_title }} </button>
            </form>

        </div> <!-- /container -->
    </div>
{% endblock %}