
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/jumbotron.css' %}">

<div class="row header">

        <div class="header-container">

            <h2 class="display-3"><span class="welcome">Welcome!</span></h2>
          <p class="welcome-text"><span>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.<span></span></p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
</div>